.return
{
    width: 100%;
    margin-top: 10px;
}

.table
{
    width: 100%;
    margin-top:40px;
}

.tableleft
{
    width: 50%;
}

.tableright
{
    width: 50%;
}
.cardcontainer
{
    margin-top: 80px !important;
}

.btn
{
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top : 10px;
}

input
{
    width: 100%
}

.adcHead
{
    padding-left: 1.25rem; 
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}